<li class="layui-nav-item">
    <a href="javascript:;"> 用户管理 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 修改个人资料 </a></dd>
        <dd><a href=""> 管理用户组 </a></dd>
        <dd><a href=""> 管理部门 </a></dd>
        <dd><a href=""> 管理用户 </a></dd>
        <dd><a href=""> 管理登陆日志 </a></dd>
        <dd><a href=""> 管理操作日志 </a></dd>
        <dd><a href=""> 管理后台风格 </a></dd>
    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 会员管理 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理会员 </a></dd>
        <dd><a href=""> 管理会员(详细) </a></dd>
        <dd><a href=""> 批量清理会员 </a></dd>
        <dd><a href=""> 会员组 </a></dd>
        <dd><a href=""> 会员内部组 </a></dd>
        <dd><a href=""> 会员访问组 </a></dd>
        <dd><a href=""> 会员管理组 </a></dd>
        <dd><a href=""> 管理会员字段 </a></dd>
        <dd><a href=""> 管理会员表单 </a></dd>
    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 会员空间管理 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理空间模板 </a></dd>
        <dd><a href=""> 管理空间留言 </a></dd>
        <dd><a href=""> 管理空间反馈 </a></dd>


    </dl>
</li>


<li class="layui-nav-item"><a href=""> 管理外部登录接口 </a></li>


<li class="layui-nav-item">
    <a href="javascript:;"> 其他功能 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理充值类型 </a></dd>
        <dd><a href=""> 管理点卡 </a></dd>
        <dd><a href=""> 批量赠送点数 </a></dd>
        <dd><a href=""> 批量发送邮件 </a></dd>
        <dd><a href=""> 批量发送短消息 </a></dd>
        <dd><a href=""> 批量删除短消息 </a></dd>

    </dl>
</li>



