<li class="layui-nav-item">
    <a href="javascript:;"> 管理订单 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 所有订单 </a></dd>
        <dd><a href=""> 未发货订单 </a></dd>
        <dd><a href=""> 备货中的订单 </a></dd>
        <dd><a href=""> 已发货的订单 </a></dd>
        <dd><a href=""> 退货的订单 </a></dd>


    </dl>
</li>


<li class="layui-nav-item"><a href=""> 优惠码 </a></li>


<li class="layui-nav-item">
    <a href="javascript:;"> 支付与配送 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理支付方式 </a></dd>
        <dd><a href=""> 管理配送方式 </a></dd>


    </dl>
</li>


<li class="layui-nav-item"><a href=""> 商城参数设置 </a></li>
