<li class="layui-nav-item">
    <a href="javascript:;"> 新闻模型相关 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理信息来源 </a></dd>
        <dd><a href=""> 管理作者 </a></dd>
        <dd><a href=""> 管理内容关键字 </a></dd>
        <dd><a href=""> 管理过滤字符 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 下载模型相关 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理地址前缀 </a></dd>
        <dd><a href=""> 删除下载记录 </a></dd>
        <dd><a href=""> 管理错误报告 </a></dd>
        <dd><a href=""> 批量替换地址权限 </a></dd>
        <dd><a href=""> 播放器管理 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 在线支付 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 支付参数配置 </a></dd>
        <dd><a href=""> 管理支付接口 </a></dd>
        <dd><a href=""> 管理支付记录 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 图片信息管理 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理图片信息分类 </a></dd>
        <dd><a href=""> 管理图片信息 </a></dd>


    </dl>
</li>

