<li class="layui-nav-item"><a href=""> 查看标签语法 </a></li>
<li class="layui-nav-item"><a href=""> 自动生成标签 </a></li>
<li class="layui-nav-item"><a href=""> 动态页面模板管理 </a></li>


<li class="layui-nav-item">
    <a href="javascript:;"> 首页模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 首页模板 </a></dd>
        <dd><a href=""> 管理首页方案 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 封面模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理封面模板分类 </a></dd>
        <dd><a href=""> 管理封面模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 列表模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理列表模板分类 </a></dd>
        <dd><a href=""> 管理列表模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 内容模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理内容模板分类 </a></dd>
        <dd><a href=""> 管理内容模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 搜索模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理搜索模板分类 </a></dd>
        <dd><a href=""> 管理搜索模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 标签模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理标签模板分类 </a></dd>
        <dd><a href=""> 管理标签模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 公共模板变量 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理模板变量分类 </a></dd>
        <dd><a href=""> 管理模板变量 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 公共模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 控制面板模板 </a></dd>
        <dd><a href=""> 全站搜索模板 </a></dd>
        <dd><a href=""> 高级搜索表单模板 </a></dd>
        <dd><a href=""> 横向搜索JS模板 </a></dd>
        <dd><a href=""> 纵向搜索JS模板 </a></dd>
        <dd><a href=""> 相关信息模板 </a></dd>
        <dd><a href=""> 留言板模板 </a></dd>
        <dd><a href=""> 评论JS调用模板 </a></dd>
        <dd><a href=""> 最终下载页模板 </a></dd>
        <dd><a href=""> 下载地址模板 </a></dd>
        <dd><a href=""> 在线播放地址模板 </a></dd>
        <dd><a href=""> 列表分页模板 </a></dd>
        <dd><a href=""> 登陆状态模板 </a></dd>
        <dd><a href=""> JS调用登陆模板 </a></dd>
    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> JS模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理JS模板分类 </a></dd>
        <dd><a href=""> 管理JS模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 评论列表模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 增加评论模板 </a></dd>
        <dd><a href=""> 管理评论模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 打印模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 增加打印模板 </a></dd>
        <dd><a href=""> 管理打印模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 自定义页面模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 增加自定义页面模板 </a></dd>
        <dd><a href=""> 管理自定义页面模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 投票模板 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 增加投票模板 </a></dd>
        <dd><a href=""> 管理投票模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 标签 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 管理标签分类 </a></dd>
        <dd><a href=""> 管理标签 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 模板组管理 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 修改模板ID </a></dd>
        <dd><a href=""> 导入/导出模板组 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 其他相关 </a>
    <dl class="layui-nav-child">
        <dd><a href=""> 批量导入栏目模板 </a></dd>
        <dd><a href=""> 批量更换列表模板 </a></dd>
        <dd><a href=""> 批量替换模板字符 </a></dd>


    </dl>
</li>







